.content{
  display: flex;
  flex-direction: column;

  .wrapper-inp{
    display: flex;
    gap: 0.5rem;
    border-radius: 4px;
    background-color: white;

    .icon{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #4d4c4c;
      height: 45px;
      aspect-ratio: 1/1;
      color: white;
      border-radius: 4px  0 0 4px;
    }
    .input{
      width: 100%;
      padding: 0.05rem;
      border: none;
      height: 45px;
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      background-color: transparent;
    
      &:focus{
        outline: var(--input-focus);
      }
    }
    
  }
}