<main class="main">
  <div class="container">
    <section class="form">
      <div class="form-text">
        <h1>{{ title}}</h1>
        <small>{{ subtitle }}</small>
      </div>
      <div class="btn-google">
        <app-btn-google></app-btn-google>
      </div>
      <ng-content></ng-content>
      <button class="btn btn-primary">{{btnPrimary}}</button>
      <div class="auth-footer">
      <small>{{ footerText }}</small>

      <small><a [routerLink]="footerLink">
        {{ footerLinkText }}
      </a></small>
      
    </div>
    </section>
    <section class="image">
      <img src="auth-image.svg" alt="Authentication image">
    </section>
  </div>
</main>