.remember{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: var(--input-text);
  cursor: pointer;
  margin-top: 10px;
  padding: 0 0.2rem;

  input[type="checkbox"]{
    cursor: pointer;
    height: 15px;
  }
}