<app-auth-layout
  title="Registrar"
  subtitle="Crie uma nova conta"
  footerText="Já tem uma conta?"
  footerLinkText="Faça login"
  footerLink="/login"
>
  <form
    [formGroup]="form"
    (ngSubmit)="register()"
    class="formulario"
  >
    <app-input-label
      label="Usuário"
      type="text"
      formControlName="name"
      name="name"
      id="name"
      placeholder="Digite seu nome"
    >
      <app-icon name="user"></app-icon>
    </app-input-label>

    <app-input-label
      label="E-mail"
      type="email"
      formControlName="email"
      name="email"
      id="email"
      placeholder="Digite seu e-mail"
    >
      <app-icon name="mail"></app-icon>
    </app-input-label>

    <app-input-label
      label="Senha"
      type="password"
      formControlName="password"
      name="password"
      id="password"
      placeholder="Digite sua senha"
    >
      <app-icon name="lock"></app-icon>
    </app-input-label>

    @if (errorMessage) {
      <p class="message error">
        {{ errorMessage }}
      </p>
    }

    @if (successMessage) {
      <p class="message success">
        {{ successMessage }}
      </p>
    }

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="loading"
    >
      {{ loading ? 'Cadastrando...' : 'Registre-se' }}
    </button>
  </form>
</app-auth-layout>